.content {
    padding: 10px;

    h1 {
        border-bottom: solid gray 1px;
    }
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 0.5fr));

    .item {
        color: white;
        height: 150px;
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: center;

        overflow: hidden;
        
        div {
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: transform 0.2s;

            p {
                line-height: 0.95;
                text-align: center;
            }
        }

        &:hover {
            div {
                transform: scale(1.1);
                cursor: pointer;
            }
        }
    }
}